<div class="container-fluid">
    <p-growl id="growl-position" [value]="errorMessages" sticky=true></p-growl>
    <p-growl [value]="successMessages"></p-growl>
    <ngx-loading-bar></ngx-loading-bar>
    <div class="spacer30"></div>

    <div class="row">
        <div class="col-md-4" lazy-load-images>
            <img [attr.data-src]="service.apiEndPoint+'dist/img/logo.jpg'" class="img-responsive center-block" style="max-height: 110px; margin-left: 20px;">
        </div>
    </div>

    <div class="spacer30"></div>

    <router-outlet></router-outlet>
</div>