<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{goalTitle}}</h3>
            <p> {{ goalDescription }}</p>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>What is my goal?</th>
                        <th>Why is it important?</th>
                        <th>How will I achieve it?</th>
                        <th>Teacher Comments:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let goalPlan of goal.studentGoalPaths | goalTypeFilter:goalType; let i=index;">
    
                        <td>{{i+1}} </td>
                        <td>
                            <textarea [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" maxlength="250" class="form-control" rows="3" [(ngModel)]="goalPlan.goal" name="goal_{{goalType+i}}" #goal="ngModel" [registerForm]="form" [registerModel]="goal"
                                required></textarea>
                            <div *ngIf="form?.controls['goal_'+goalType+i]?.errors?.required && form?.controls['goal_'+goalType+i]?.touched" class="alert alert-danger">This field is required</div>
                        </td>
                        <td>
                            <textarea [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" maxlength="1000" class="form-control" rows="3" [(ngModel)]="goalPlan.goalImportance" name="goalImportance_{{goalType+i}}" #goalImportance="ngModel" [registerForm]="form"
                                [registerModel]="goalImportance" required></textarea>
                            <div *ngIf="form?.controls['goalImportance_'+goalType+i]?.errors?.required && form?.controls['goalImportance_'+goalType+i]?.touched" class="alert alert-danger">This field is required</div>
                        </td>
                        <td>
                            <textarea [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" maxlength="1000" class="form-control" rows="3" [(ngModel)]="goalPlan.goalPath" name="goalPath_{{goalType+i}}" #goalPath="ngModel" [registerForm]="form" [registerModel]="goalPath"
                                required></textarea>
                            <div *ngIf="form?.controls['goalPath_'+goalType+i]?.errors?.required && form?.controls['goalPath_'+goalType+i]?.touched" class="alert alert-danger">This field is required</div>
                        </td>
    
                        <td>
                            <textarea [disabled]="service.isTeacher? false: true" maxlength="100" class="form-control" rows="3" [(ngModel)]="goalPlan.goalTeacherComments" name="goalTeacherComments_{{goalType+i}}" #goalTeacherComments="ngModel" [registerForm]="form" [registerModel]="goalTeacherComments"
                                required></textarea>
                            <div *ngIf="form?.controls['goalTeacherComments_'+goalType+i]?.errors?.required && form?.controls['goalTeacherComments_'+goalType+i]?.touched" class="alert alert-danger">This field is required</div>
                        </td>
    
                        <td>
                            <button [disabled]="false" type="button" class="pull-right btn btn-danger" (click)="remove(goalPlan,[goal,goalPath,goalImportance,goalTeacherComments])"><i class="fa fa-times" style="color: white;"></i></button>
                        </td>
    
                    </tr>
                </tbody>
            </table>
    
            <div class="pull-right"><button [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" type="button" class="btn btn-primary btn-xs" (click)="addPath()">Add</button></div>
        </div>
    </div>