// styles in src/style directory are applied to the whole page
// Use for offsetting columns to the right (by default bootstrap does to the left)
.col-xs-offset-right-12 {
    margin-right: 100%;
}

.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-right-9 {
    margin-right: 75%;
}

.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-right-6 {
    margin-right: 50%;
}

.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-right-3 {
    margin-right: 25%;
}

.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}

// Spacers
.spacer5 {
    height: 5px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer10 {
    height: 10px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer15 {
    height: 15px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer20 {
    height: 20px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer25 {
    height: 25px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer30 {
    height: 30px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer35 {
    height: 35px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer40 {
    height: 40px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer45 {
    height: 45px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer50 {
    height: 50px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer73 {
    height: 73px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer60 {
    height: 58px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer100 {
    height: 100px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer200 {
    height: 200px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

//Global styles for forms
.panel-body {
    /*padding: 3em;*/
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: RGB(0, 96, 156);
    border-color: #192857;
}

.ng-valid:not(form):not(div):not(p-calendar):not(p-inputswitch) {
    border-left: 0px solid #42A948;
}

.ng-invalid:not(form):not(div):not(p-calendar):not(p-inputswitch) {
    border-left: 5px solid #a94442;
}

//Used in tables
.shadow-center-cell {
    text-align: center;
    background-color: RGB(0, 96, 156);
    color: rgb(255, 255, 255);
    vertical-align: middle !important;
}

.table-bordered>tbody>tr>th:first-child {
    background-color: RGB(51, 49, 50);
}

.table-bordered>tbody>tr>th {
    background: RGB(234, 230, 232);
    color: white;
}

//Put the sticky messages at the bottom of the page
.ui-growl {
    top: calc(100% - 20em) !important;
}


/* Check box for student completion tracker start */

.holder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkdiv {
    position: relative;
    padding: 4px 8px;
    border-radius: 40px;
    margin-bottom: 4px;
    min-height: 30px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.checkdiv:last-child {
    margin-bottom: 0px;
}

.checkdiv span {
    position: relative;
    vertical-align: middle;
    line-height: normal;
}

.tick-box {
    appearance: none;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #F44336;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    margin: 0px;
    outline: none;
    transition: background-color .5s;
    border: none;
}

.tick-box:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #ffffff;
    width: 20px;
    height: 5px;
    border-radius: 40px;
    transition: all .5s;
}

.tick-box:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #ffffff;
    width: 20px;
    height: 5px;
    border-radius: 40px;
    transition: all .5s;
}

.tick-box:checked {
    background-color: #4CAF50;
}

.tick-box:checked:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(-4px, 3px) rotate(45deg);
    background-color: #ffffff;
    width: 12px;
    height: 5px;
    border-radius: 40px;
}

.tick-box:checked:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(3px, 2px) rotate(-45deg);
    background-color: #ffffff;
    width: 16px;
    height: 5px;
    border-radius: 40px;
}

.tick-container {
    position: relative;
    width: 30px;
    height: 30px;
}


/* Check box end */

.outer-box {
    padding: 10px 15px;
    border: 1px dashed #337ab7;
    border-radius: 5px;
    margin: 1em;
}

.marking-container {
    padding-top: 10px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.marking-container .tick-container {
    float: right;
}

.marking-container>div {
    display: inline-block;
}

.marking-container .text {
    display: inline-block;
    padding: 5px 5px 5px 20px;
    font-family: inherit;
    font-size: large;
}

.marking-container .approve {
    color: #d63535;
    margin-right: 50px;
}

.marking-container .approved {
    color: #2bc12b;
    margin-right: 50px;
}

.marking-container div {
    padding: 0px;
}

.marking-container input[type=checkbox] {
    width: 25px;
    height: 25px;
}


/*
.fa-check-square{
	color: #d63535;
}

.fa-check-square-o{
	color: #2bc12b;
}*/

.popover-baloon {
    background: RGB(51, 49, 50);
    color: #ffffff;
    max-width: 100%;
}

.popover-baloon ul {
    padding-left: 5px;
}

.popover.top>.arrow:after {
    border-top-color: RGB(51, 49, 50);
}

.panel-default>.panel-heading {
    background-color: RGB(51, 49, 50);
}

.panel-heading .panel-title {
    color: #fff;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

.panel-placement {
    margin: 3em;
}

.form-group fieldset {
    margin-right: 3em;
}

.panel-teachers-view .panel-heading {
    background-color: RGB(51, 49, 50);
}

.student-marking {
    right: 1px;
    padding-left: 140px;
}

.student-circle-color {
    font-size: 36px;
    color: green;
}

.student-tick-color {
    color: white;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.flex-container>div {
    padding: 10px;
}

.flex-container .flex-end {
    justify-content: flex-end;
}

.line-chart-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    // margin-left: 2%;
}

.line-chart-container>div {
    width: auto;
    //margin: 10px;
    margin: 10px 10px 10px 0px;
    border: 1px solid #c1c1c1;
}

.line-chart-container>div>div {
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: -10px;
    margin-bottom: 15px;
}