
<!-- 
<p> 
    In this section, you are required to set goals and detail your work placement experiences. 
    You are encouraged to add as much detail as possible in the ‘duties’ section, as this will help you articulate your knowledge and skills when applying for jobs in future. 
    Please ensure your MyPLACEMENT Goals are aligned with your career and industry goals.
</p>
-->

<div class="row">
    <div class="col-sm-4" lazy-load-images>
        <img [attr.data-src]="service.apiEndPoint+'dist/img/MyPlacement/purpose.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
            triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
    </div>
    <div class="col-sm-4" lazy-load-images>
            <img [attr.data-src]="service.apiEndPoint+'dist/img/MyPlacement/howto.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
    </div>
    <div class="col-sm-4" lazy-load-images>
            <img [attr.data-src]="service.apiEndPoint+'dist/img/MyPlacement/tips.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
    </div>
</div>    

<div class="spacer10"></div>

<div class="row outer-box">
    <work-placement [form]="f" description="{{ descriptionMyPlacements }}" type="MyPlacements" title="Work Placement"></work-placement>
</div>

<div class="row outer-box">
    <job-reflection [form]="f" description="* Reflect on the roles and responsibilities you undertook during your work placement over the last three weeks." title="Work Placement Reflection (Every three weeks)"></job-reflection>
</div>

<!-- Student Save button -->
<div *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false" class="row">
    <div class="col-sm-12">
        <div class="col-sm-6"></div>
        <div class="col-sm-6" *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false">
            <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveMyPlacements()">SAVE</button>
        </div>                           
    </div>
</div>    
<div class="spacer20"></div>
<!-- END - Student Save button -->

<!-- Teacher Save button -->
<div *ngIf="service.isTeacher || service.isSupervisor || service.isParent" class="row">
<div class="col-sm-12">
    <div class="col-sm-6">
        <button *ngIf="service.isParent || service.isTeacher || service.isSupervisor" type="button" class="btn btn-primary btn-lg" (click)="goToTeacherView()">Back</button>
    </div>
    <div class="col-sm-6" *ngIf="service.isTeacher && !(service.isSupervisor)">
        <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveTeacherReview()">SAVE</button>
    </div>                 
</div>
</div>    
<div class="spacer20"></div>
<!-- END - Teacher Save button -->