.active {
    background: rgba(108, 178, 226, 0.7) !important;
    color: white;
}

.previousTeacher {
    background: rgb(217, 217, 217);
    text-align: centre;
}

.activeTeacher {
    background: rgb(198, 239, 253) !important;
    color: black;
    overflow-x: auto;
}

.activeStudent {
    background: rgba(255, 255, 255, 0.7) !important;
    overflow-x: auto;
    color: black;
}

.activeBoth {
    background: rgb(198, 239, 253) !important;
    color: black;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid #000000 !important;
    height: 100%;
    position: relative;
    padding: 4px;
    overflow: hidden;
}

td.focus-area {
    background-color: #f5f5f5;
    font-style: italic;
}

textarea {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    resize: none;
    -webkit-box-sizing: border-box;
    /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box;
    /* FF1+ */
    box-sizing: border-box;
    /* Chrome, IE8, Opera, Safari 5.1*/
}

th.rotate {
    white-space: nowrap;
}
  
th.rotate > div {
    transform: rotate(270deg);
    width: 20px;
    text-align: left; 
    padding-top: 8%;
}

.student-marking {
    right: 1px;
    padding-left: 60%;
}

.student-circle-color {
    font-size: 24px;
    color: green;
}

.student-tick-color {
    font-size: 12px;
    color: white;
}

.student-tick-container {
    vertical-align: bottom; 
    display: table-cell; 
    //border: 1px solid salmon; 
    height: 50px;
}

 .container {
    display: flex;
    flex-wrap: wrap;
  }

  .inner {
    overflow: auto;
    display: flex;
    word-wrap: break-word;
    width: 100px;
    min-height: 32px;
    //border: 1px solid yellowgreen;
    float: right;
  }

  /*
  .teacher-marking {
    height: 225px;
  }
 */