<div class="table-responsive">  
    <table class="table table-bordered">
        <thead>     
            <ng-container *ngIf=" areaType=='Skill' ">                    
                <tr>
                    <th style="visibility: hidden;"></th>
                    <th style="visibility: hidden;"></th>
                    <th *ngFor="let areaTypeHeading of areaTypeHeadings; let areaTypeHeadingIndex = index" style="vertical-align: top; background-color: #333132; color: white; text-align: center; "> 
                        {{ areaTypeHeading.headingName }}
                    </th>
                    <th colspan="2" style="visibility: hidden;"></th>                
                </tr>     
                <tr>
                    <td style="visibility: hidden;"></td>
                    <td style="visibility: hidden;"></td>
                    <td *ngFor="let areaTypeHeading of areaTypeHeadings; let areaTypeHeadingIndex = index" style="vertical-align: top; background-color: #c6effd; font-size: 12px; "> 
                        <span *ngFor="let item of areaTypeHeading.headingItems; let headingItemIndex = index"> 
                            <strong> {{ item.title }} : </strong> {{ item.description }}<br>
                        </span>
                    </td>
                    <td colspan="2" style="visibility: hidden;"></td>                
                </tr>                       
            </ng-container>     

            <tr style="visibility: hidden;">
                <th class="col-sm-2" style="padding:0px; margin:0px; height: 0px; border: 0px white;" colspan="2"></th>
                <th class="col-sm-1" style="padding:0px; margin:0px; height: 0px; border: 0px white;" *ngFor="let item of [].constructor( service.getMaxRubricLengthByAreaType(areaType) ); let i=index;"></th>
                <th class="col-sm-2" style="padding:0px; margin:0px; height: 0px; border: 0px white;"></th>
                <th class="col-sm-2" style="padding:0px; margin:0px; height: 0px; border: 0px white;"></th>
            </tr>
        </thead>
        <tbody *ngFor="let area of service.gradesMapBySemester.get(semesterId*1) | AreaTypeFilter: areaType; let areaIndex = index">
            <tr *ngIf="area.rubricHeadings && area.rubricHeadings.length > 0">
                <th [style.background-color]="[area.colourCode]" colspan="2" style="visibility: hidden;"></th>
                <th *ngFor="let rubricHeading of area.rubricHeadings; let rubricHeadingIndex = index"  class="col-sm-1" [style.background-color]="[area.colourCode]" style="text-align: center;"> {{ rubricHeading.headingName }} </th>
                <th [style.background-color]="[area.colourCode]" colspan="2"></th>           
            </tr>
            <tr *ngFor="let focusArea of area.focusAreas; let focusAreaIndex = index" style="height: 1px;">
                <th class="shadow-center-cell rotate"  style="text-align: left; padding-top: 8%;" *ngIf="focusAreaIndex==0" [attr.rowspan]="area.focusAreas.length" [style.background-color]="[area.colourCode]"> <div> {{ area.areaName }} </div></th>
                <td class="focus-area"> {{ focusArea.focusAreaName }} <br/> </td>
                <td *ngFor="let rubric of focusArea.rubrics; let rubricIndex= index" (click)="cellClicked(focusArea, rubric)" 
                    [class.previousTeacher]="rubric.isPreviousSemesterMarked" [class.activeTeacher]="rubric.isTeacherSelected" 
                    [class.activeStudent]="rubric.isStudentSelected" [class.activeBoth]="rubric.isTeacherSelected && rubric.isStudentSelected">   
                    <div>                    
                        <div class="teacher-marking">
                            {{ rubric.rubricDescription }}
                        </div>
                        <div class="inner"> 
                            <ng-container *ngIf="rubric.isStudentSelected">
                                <div class="student-marking"> 
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x student-circle-color"></i>
                                        <i class="fa fa-check fa-stack-1x student-tick-color"></i>
                                    </span>
                                </div>
                            </ng-container>
                        </div>     
                    </div>                   
                </td>    
                <ng-container *ngIf="focusAreaIndex == 0 && area.focusAreas.length > 1">
                    <td colspan="2">
                        <div>
                            <textarea maxlength="1000" class="form-control" style="font-style: italic;" placeholder="Add a comment here (student)" [(ngModel)]="service.gradeCommentsMapBySemester.get(semesterId*1).get(area.id).studentComment" rows="6" [readonly]="this.service.isAdmin || this.service.isTeacher || this.service.isParent || this.service.isSupervisor"></textarea>
                        </div>                       
                    </td>  
                </ng-container>
                <ng-container *ngIf="focusAreaIndex == 0 && area.focusAreas.length == 1">
                    <td colspan="2" style="height: inherit;">
                        <div style="height: 50%;">
                            <textarea maxlength="1000" class="form-control" style="font-style: italic; position: relative; height: 100%;" placeholder="Add a comment here (student)" [(ngModel)]="service.gradeCommentsMapBySemester.get(semesterId*1).get(area.id).studentComment"  [readonly]="this.service.isAdmin || this.service.isTeacher || this.service.isParent || this.service.isSupervisor"></textarea>
                        </div>       
                        <div style="height: 50%;">
                            <textarea maxlength="1000" class="form-control" style="font-style: italic; position: relative; height: 100%;" placeholder="Add a comment here (teacher)" [(ngModel)]="service.gradeCommentsMapBySemester.get(semesterId*1).get(area.id).teacherComment"  [readonly]="!this.service.isAdmin && !this.service.isTeacher && !this.service.isParent && !this.service.isSupervisor"></textarea>                 
                        </div>
                    </td>  
                </ng-container>
                <ng-container *ngIf="focusAreaIndex == 1">
                    <td colspan="2">
                        <div>
                            <textarea maxlength="1000" class="form-control" style="font-style: italic;" placeholder="Add a comment here (teacher)" [(ngModel)]="service.gradeCommentsMapBySemester.get(semesterId*1).get(area.id).teacherComment" rows="6" [readonly]="!this.service.isAdmin && !this.service.isTeacher && !this.service.isParent && !this.service.isSupervisor"></textarea>                 
                        </div>                      
                    </td>  
                </ng-container>                
                            
            </tr>
        </tbody>
    </table>
</div>