<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{goalTitle}}</h3>
        <p> {{ goalDescription }}</p>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>What is my goal?</th>
                    <th>Industry of Interest</th>
                    <th>Teacher Feedback:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let industryGoal of service.profile?.studentIndustryGoals; let i=index;">

                    <td>{{i+1}} </td>
                    <td>
                        <textarea [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" maxlength="250" class="form-control" rows="3" [(ngModel)]="industryGoal.goal" name="goal_{{i}}" #goal="ngModel" [registerForm]="form" [registerModel]="goal" required> </textarea>
                        <div *ngIf="form?.controls['goal_'+ i]?.errors?.required && form?.controls['goal_'+ i]?.touched" class="alert alert-danger">This field is required</div>
                    </td>
                    <td>
                        <textarea [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" maxlength="400" class="form-control" rows="3" [(ngModel)]="industryGoal.industry" name="industry_{{i}}" #industry="ngModel" [registerForm]="form" [registerModel]="industry" required> </textarea>
                        <div *ngIf="form?.controls['industry_'+ i]?.errors?.required && form?.controls['industry_'+ i]?.touched" class="alert alert-danger">This field is required</div>
                    </td>

                    <td>
                        <textarea [disabled]="service.isTeacher? false: true" maxlength="100" class="form-control" rows="3" [(ngModel)]="industryGoal.teacherFeedback" name="teacherFeedback_{{i}}" #teacherFeedback="ngModel" [registerForm]="form" [registerModel]="teacherFeedback"
                            required></textarea>
                        <div *ngIf="form?.controls['teacherFeedback_'+ i]?.errors?.required && form?.controls['teacherFeedback_'+ i]?.touched" class="alert alert-danger">This field is required</div>
                    </td>

                    <td>
                        <button [disabled]="service.profile.studentCompletionStatus.markMyIndustryGoal == true" type="button" class="pull-right btn btn-danger" (click)="remove(industryGoal,[IndustryGoal])"><i class="fa fa-times" style="color: white;"></i></button>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="pull-right"><button [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" type="button" class="btn btn-primary btn-xs" (click)="addIndustryGoal()">Add</button></div>
    </div>
</div>