// styles applied on :host are applied on the current component, "app" in this case
:host {
    display: block;
}

// ======  start Css for MyPlan tabs ================
.nav-tab-holder {
    padding: 0 0 0 30px;
    float: right;
}

.nav-tab-holder .nav-tabs {
    border: 0;
    float: none;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.nav-tab-holder .nav-tabs>li {
    margin-bottom: -3px;
    text-align: center;
    padding: 1px;
    display: table-cell;
    float: none;
}

.nav-tab-holder .nav-tabs>li>a {
    background: RGB(51, 49, 50);
    color: #ffffff;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.nav-tab-holder .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #FFF;
    background-color: RGB(0, 96, 156);
    border: 0;
    border-radius: 0;
}

// ======  start Css for MyPlan sub tabs ================
.nav-sub-tab-holder {
    padding: 0 0 0 30px;
    float: right;
}

.nav-sub-tab-holder .nav-sub-tabs {
    border: 0;
    float: none;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.nav-sub-tab-holder .nav-sub-tabs>li {
    margin-bottom: -3px;
    text-align: center;
    padding: 1px;
    display: table-cell;
    float: none;
    width: 20%;
}

.nav-sub-tab-holder .nav-sub-tabs>li>a {
    background: RGB(217, 217, 217);
    color: black;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

.nav-sub-tab-holder .nav-sub-tabs>li.active>a,
.nav-sub-tabs>li.active>a:hover,
.nav-sub-tabs>li.active>a:focus {
    color: #FFF;
    background-color: RGB(6, 162, 214);
    border: 0;
    border-radius: 0;
}

// ======  end Css for MyPlan  sub tabs ================