<div class="form-group">

    <div class="row">
        <div class="col-sm-4" lazy-load-images>
            <img [attr.data-src]="service.apiEndPoint+'dist/img/MyGoals/purpose.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
        </div>
        <div class="col-sm-4" lazy-load-images>
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MyGoals/howto.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
        </div>
        <div class="col-sm-4" lazy-load-images>
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MyGoals/tips.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
        </div>
    </div>      

    <!-- 
    <div class="row">
        <div class="col-sm-12">In this section, you should outline your career and industry goals. To assist, you are encouraged to discuss your goals with your teacher, parents and other people of influence. </div>
    </div>
    <div class="spacer20"></div>
    <div class="row">
        <div class="col-sm-3"></div>

        <ng-template #smartTemplate>
            <div [innerHtml]="'<li> S <u><i>Specific</i></u> it must be clear what you want to achieve</li> <li>M <u><i>Measureable</i></u> your goal must have a measureable</li><li>A <u><i>Achievable</i></u> it must be possible to reach your goal</li><li>R <u><i>Realistic</i></u> your goal must be within your capabilities</li><li>T <u><i>Timeframe</i></u> time to achieve your goal</li>'">
            </div>
        </ng-template>

        <div class="col-sm-6" lazy-load-images>
            <img [attr.data-src]="service.apiEndPoint+'dist/img/SMART'+( (service.apiEndPoint=='/MyPlanCollege/' || service.apiEndPoint=='/MyPlanNSW/' || service.apiEndPoint=='/MyPlanSA/') ?'College':'')+'.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
        </div>
        <div class="col-sm-3"></div>
    </div>
    -->

</div>

<div class="spacer20"></div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div>

            <div style="outline: 1px solid #BFC1CC; padding: 30px; margin-top: 20px;">
                <div class="spacer20"></div>

                <!-- Career Goals -->
                <div class="row outer-box">
                    <fieldset [disabled]="false">
                        <career-goals [form]="form" [goal]="service.profile?.studentCareerGoals[i]" goalTitle="Career Goals" goalDescription="* In addition to following the SMART goal setting approach ensure that you provide detailed descriptions."></career-goals>
                    </fieldset>
                    <div class="row pull-right marking-container">
                        <div class="col-sm-4">
                            <input [disabled]="service.isTeacher? false: true" type="checkbox" name="CAREER_GOAL" [(ngModel)]="service.profile.studentCompletionStatus.markMyCareerGoal" (change)="service.onChangeMarkMySection('Career Goal', service.profile.studentCompletionStatus.markMyCareerGoal)"
                            />
                        </div>
                        <div class="col-sm-4">
                            <ng-container *ngIf="service.profile.studentCompletionStatus.markMyCareerGoal == true">
                                <div [ngClass]="'approved'" class="text">Approved</div>
                            </ng-container>
                            <ng-container *ngIf="service.profile.studentCompletionStatus.markMyCareerGoal == false">
                                <div [ngClass]="'approve'" class="text">Approve</div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- Industry Goals -->
                <div class="row outer-box">
                    <fieldset [disabled]="false">
                        <industry-goals [form]="form" goalTitle="Industry Experience Goals" goalDescription="* Your Industry goals should relate to your career areas of interest and be linked to your Career and Work Placement goals."> </industry-goals>
                    </fieldset>
                    <div class="row pull-right marking-container">
                        <div class="col-sm-4">
                            <input [disabled]="service.isTeacher? false: true" type="checkbox" name="INDUSTRY_GOAL" [(ngModel)]="service.profile.studentCompletionStatus.markMyIndustryGoal" (change)="service.onChangeMarkMySection('Industry Goal', service.profile.studentCompletionStatus.markMyIndustryGoal)"
                            />
                        </div>
                        <div class="col-sm-4">
                            <ng-container *ngIf="service.profile.studentCompletionStatus.markMyIndustryGoal == true">
                                <div [ngClass]="'approved'" class="text">Approved</div>
                            </ng-container>
                            <ng-container *ngIf="service.profile.studentCompletionStatus.markMyIndustryGoal == false">
                                <div [ngClass]="'approve'" class="text">Approve</div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="spacer10"></div>
            </div>
        </div>

    </div>

    <!-- Student Save button -->
    <div *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false" class="row">
        <div class="col-sm-12">
            <div class="col-sm-6"></div>
            <div class="col-sm-6" *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false">
                <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveMyGoals()">SAVE</button>
            </div>                                             
        </div>
    </div>    
    <div class="spacer20"></div>
    <!-- END - Student Save button -->

    <!-- Teacher Save button -->
    <div *ngIf="service.isTeacher || service.isSupervisor || service.isParent" class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <button *ngIf="service.isParent || service.isTeacher || service.isSupervisor" type="button" class="btn btn-primary btn-lg" (click)="goToTeacherView()">Back</button>
            </div>
            <div class="col-sm-6" *ngIf="service.isTeacher && !(service.isSupervisor)">
                <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveTeacherReview()">SAVE</button>
            </div>                 
        </div>
    </div>    
    <div class="spacer20"></div>
    <!-- END - Teacher Save button -->

</div>