<div class="table-responsive">
        
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="shadow-center-cell">Personal Habit</th>
                <th class="shadow-center-cell col-sm-1" *ngFor="let grade of service.grades">{{grade.grade}}</th>
                <th class="shadow-center-cell">Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let habit of service.habits; let habitIndex=index">

                    <th class="shadow-center-cell"> {{habit.habit}} </th>
                    <ng-container *ngFor="let grade of service.grades; let gradeIndex=index">   
                                             
                        <td *ngIf="service.habitGradesMapBySemester.get(semesterId*1)[gradeIndex][habitIndex].semesterId == semesterId" align="center"  (click)="cellClicked(semesterId, gradeIndex, habitIndex)" 
                        [class.previousTeacher]="service.currentSemesterId == semesterId && service.habitGradesMapBySemester.get((semesterId*1) -1)[gradeIndex][habitIndex].isTeacherSelected" 
                        [class.activeTeacher]="service.habitGradesMapBySemester.get(semesterId*1)[gradeIndex][habitIndex].isTeacherSelected"
                        [class.activeStudent]="service.habitGradesMapBySemester.get(semesterId*1)[gradeIndex][habitIndex].isStudentSelected" 
                        [class.activeBoth]="service.habitGradesMapBySemester.get(semesterId*1)[gradeIndex][habitIndex].isStudentSelected && service.habitGradesMapBySemester.get(semesterId*1)[gradeIndex][habitIndex].isTeacherSelected">
                        
                                <div class="teacher-marking">
                                    <ng-container *ngIf="service.habitGradesMapBySemester.get(semesterId*1)[gradeIndex][habitIndex].isTeacherSelected">
                                        <i class="fa fa-check teacher-color"></i>
                                    </ng-container>
        
                                    <ng-container *ngIf="service.habitGradesMapBySemester.get(semesterId*1)[gradeIndex][habitIndex].isStudentSelected">
                                        <div class="student-marking">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x student-circle-color"></i>
                                                <i class="fa fa-check fa-stack-1x student-tick-color"></i>
                                            </span>
                                        </div>
                                    </ng-container>
                                </div>
                        </td>                                                 

                    </ng-container>                   
                    
                    <td><textarea maxlength=" 1000 " class="form-control " rows="3 " [(ngModel)]="service.habitCommentsMap.get(semesterId*1)[habitIndex]" [readonly]="isCommentsReadonly()"></textarea></td> 
            </tr>
        </tbody>
    </table>
</div>