.previousTeacher {
    background: rgb(217, 217, 217);
    text-align: centre;
}

.activeStudent {
    background: rgba(255, 255, 255, 0.7) !important;
}

.activeTeacher {
    background: rgb(6, 162, 214) !important;
}

.activeBoth {
    background: rgb(6, 162, 214) !important;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid #000000 !important;
}

.fix-width-cell {
    width: 15%;
}

.teacher-marking {
    position: relative;
    top: 10px;
    right: 0px;
}

.student-marking {
    position: absolute;
    top: 32px;
    right: 1px;
}

.teacher-color {
    font-size: 40px;
    color: white;
}


/*.student-circle-color {
      font-size: 34px;
    color: green;
}

.student-tick-color {
    color: white;
}*/