<div class="container" style="padding-top: 25px; width: 100%; ">
    <form novalidate #form="ngForm" style="padding-top: 25px">
        <fieldset>
            <div class="form-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Manage Supervisors</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" style="padding-top: 20px;">
                            <div *ngFor="let supervisor of service.supervisors; let i=index;">
                                <div class="col-md-3">
                                    <label> {{supervisor.firstName}} {{ supervisor.surname }} </label>
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="text" maxlength="10" class="form-control" placeholder="Synergetic ID" name="synergeticId_{{i}}" [(ngModel)]="supervisor.id" #id="ngModel" [registerForm]="form" [registerModel]="roleId" required>
                                    <div *ngIf="form?.controls['synergeticId_'+i]?.errors?.required && form?.controls['synergeticId_'+i]?.touched" class="alert alert-danger">Synergetic ID is required</div>
                                </div>
                                <div class="col-md-3">
                                    <select name="role_{{i}}" class="form-control" [(ngModel)]="supervisor.roleId" required>
                                        <option *ngFor="let role of roles" [value]="role.id">  
                                            {{ role.roleName }}
                                        </option>
                                    </select>
                                    <div *ngIf="form?.controls['role_'+i]?.errors?.required && form?.controls['role_'+i]?.touched" class="alert alert-danger">Role is required</div>
                                </div>
                                <div class="form-group col-md-2">
                                    <button type="button" class="btn btn-danger" (click)="service.removeFromCollection(service.supervisors,i,[roleId])"><i class=" fa fa-times " style="color: white; "></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right "><button type="button " class="btn btn-primary btn-xs " (click)="addSupervisor() ">Add Supervisor</button></div>
                </div>
            </div>
        </fieldset>
        <br>
        <div>
            <div class="row ">
                <div class="col-sm-12 ">
                    <div class="col-sm-6 ">
                        <button *ngIf="service.isAdmin " type="button " class="btn btn-primary btn-lg " (click)="service.goBack() ">Back</button>
                    </div>
                    <!--show if it is a student-->
                    <div class="col-sm-6 " *ngIf="service.isAdmin ">
                        <button type="button " class="pull-right btn btn-success btn-lg " (click)="service.addSupervisors()">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>