<!-- START - Second level tabs for Portfolio (Portfolio docs and extract) -->
<div class="row col-sm-10">
    <div class="col-sm-10 nav-sub-tab-holder pull-left" style="padding-left: 15px">
        <ul class="nav nav-sub-tabs row" role="tablist">
            <li role="presentation" class="col-sm-4 pull-left active"><a href="#myPortfolioDocs" aria-controls="myPortfolioDocs" role="tab" data-toggle="tab">MyPortfolio</a></li>
            <li role="presentation" class="col-sm-4 pull-left"><a href="#myExtract" aria-controls="myExtract" role="tab" data-toggle="tab">MyExtract</a></li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <!-- Tab - MyPortfolio -->
    <div role="tabpanel" class="tab-pane active" id="myPortfolioDocs">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 5px">
                <div class="panel panel-default">
                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyPortfolio ? true : null">
                        <div class="panel-body">
                            <portfolio-documents></portfolio-documents>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab - MyExtract -->
    <div role="tabpanel" class="tab-pane" id="myExtract">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 5px">
                <div class="panel panel-default">
                    <!-- 
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Extract
                        </h4>
                    </div>
                    -->
                    <fieldset [disabled]="false">
                        <div class="panel-body">
                            <portfolio-extract></portfolio-extract>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END - Second level tabs for skills (Rubrics and Charts) -->