<!-- START - Second level tabs for skills (Rubrics and Charts) -->
<div class="row col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-12 nav-sub-tab-holder pull-left" style="padding-left: 0px">
            <ul class="nav nav-sub-tabs row" role="tablist">
                <li role="presentation" class="col-sm-3 pull-left active"><a href="#myRubrics_v2" aria-controls="myRubrics_v2" role="tab" data-toggle="tab">MyProgress</a></li>
                <li role="presentation" class="col-sm-3 pull-left" onClick=""><a href="#myConversations" aria-controls="myConversations" role="tab" data-toggle="tab">MyConversations</a></li>
                <li role="presentation" class="col-sm-3 pull-left"><a href="#myCharts" aria-controls="myCharts" role="tab" data-toggle="tab">MyGraphs</a></li>
                <li role="presentation" class="col-sm-3 pull-left"><a href="#myRubrics" aria-controls="myRubrics" role="tab" data-toggle="tab">MyPastProgress</a></li>
            </ul>
        </div>   
    </div>
    <!-- 
    <div class="col-sm-3" class="text-right">
        <a [routerLink]="" (click)="toggleSkillsTabs()"> My Past Progress </a>
    </div>
    -->
</div>


<div class="tab-content">
    
    <!-- Tab - 2020 Rubrics -->
    <div role="tabpanel" class="tab-pane active" id="myRubrics_v2">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 5px">
                <div class="panel panel-default">
                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMySkills ? true : null">
                        <div class="panel-body">
                            <my-rubrics-v2 appVersion="v2"></my-rubrics-v2>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

     <!-- Tab - MyConversations -->
     <div role="tabpanel" class="tab-pane" id="myConversations">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 5px">
                <div class="panel panel-default">
                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMySkills ? true : null">
                        <div class="panel-body">
                            <my-conversations></my-conversations>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab - MyGraphs -->
    <div role="tabpanel" class="tab-pane" id="myCharts">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 5px">
                <div class="panel panel-default">
                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMySkills ? true : null">
                        <div class="panel-body">
                            <my-line-chart></my-line-chart>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab - MyRubrics -->
    <div role="tabpanel" class="tab-pane" id="myRubrics">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 5px">
                <div class="panel panel-default">
                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMySkills ? true : null">
                        <div class="panel-body">
                            <my-rubrics appVersion="v1"></my-rubrics>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END - Second level tabs for skills (Rubrics and Charts) -->