<div class="row">
    <div class="form-horizontal">
        <div class="form-group">  

            <div class="panel panel-primary panel-placement">
                <div class="panel-heading">
                    <h3 class="panel-title">{{title}}</h3>
                </div>
                <br>              

                <div class="panel-body">                    
                   
                        <div class="row outer-box">

                            <div *ngFor="let experience of service.profile?.studentJobs | experienceFilter:type; let i=index;">
                                <button [disabled]="this.service.myStudentSectionEditable.isDisabledMyExperiences ? true : null" type="button" class="pull-right btn btn-danger" style="margin:5px;" (click)="service.removeFromCollectionByElement(service.profile.studentJobs,experience,[StudentJob])"><i class="fa fa-times" style="color: white;"></i></button>
                                <div style="outline: 1px solid #337ab7; padding: 35px; margin-top: 20px;">
                                    <div class="spacer10"></div>
                                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyExperiences ? true : null">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Organisation Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" maxlength="250" class="form-control" placeholder="Organisation Name" [(ngModel)]="experience.employerName" name="employerName_{{i}}" #employerName="ngModel" [registerForm]="form" [registerModel]="employerName" required>
                                                <div *ngIf="form?.controls['employerName_'+i]?.errors?.required && form?.controls['employerName_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Position</label>
                                            <div class="col-sm-10">
                                                <input type="text" maxlength="250" class="form-control" placeholder="Position" [(ngModel)]="experience.jobTitle" name="jobTitle_{{i}}" #jobTitle="ngModel" [registerForm]="form" [registerModel]="jobTitle" required>
                                                <div *ngIf="form?.controls['jobTitle_'+i]?.errors?.required && form?.controls['jobTitle_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Duties</label>
                                            <div class="col-sm-10">
                                                <textarea maxlength="1000" class="form-control" rows="3" [(ngModel)]="experience.jobDuties" name="jobDuties_{{i}}" #jobDuties="ngModel" [registerForm]="form" [registerModel]="jobDuties" required></textarea>
                                                <div *ngIf="form?.controls['jobDuties_'+i]?.errors?.required && form?.controls['jobDuties_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Date</label>
                                            <div class="col-sm-10">
                                                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [yearNavigator]="true" yearRange="2017:2019" [(ngModel)]="experience.startDate" name="experienceStart_{{i}}" #experienceStart="ngModel" [registerForm]="form" [registerModel]="experienceStart" required></p-calendar>
                                                <div *ngIf="form?.controls['experienceStart_'+i]?.errors?.required && form?.controls['experienceStart_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Start Time</label>
                                            <div class="col-sm-10">
                                                <p-calendar icon="fa fa-clock-o" [showIcon]="true" dataType="string" timeOnly="true" showTime="true" hourFormat="24" [(ngModel)]="experience.startTime" name="experienceStartTime_{{i}}" #experienceStartTime="ngModel" [registerForm]="form" [registerModel]="experienceStartTime"
                                                    required></p-calendar>
                                                <div *ngIf="form?.controls['experienceStartTime_'+i]?.errors?.required && form?.controls['experienceStartTime_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">End Time</label>
                                            <div class="col-sm-10">
                                                <p-calendar icon="fa fa-clock-o" [showIcon]="true" dataType="string" timeOnly="true" showTime="true" hourFormat="24" [(ngModel)]="experience.endTime" name="experienceEndTime_{{i}}" #experienceEndTime="ngModel" [registerForm]="form" [registerModel]="experienceEndTime"
                                                    required></p-calendar>
                                                <div *ngIf="form?.controls['experienceEndTime_'+i]?.errors?.required && form?.controls['experienceEndTime_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Total Hours</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" placeholder="Total Hours" [(ngModel)]="experience.totalHours" name="experienceTotalHours_{{i}}" #totalHours="ngModel" [registerForm]="form" [registerModel]="totalHours" min="1" max="8" required>
                                                <div *ngIf="form?.controls['experienceTotalHours_'+i]?.errors?.required && form?.controls['experienceTotalHours_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Teacher comments</label>
                                        <div class="col-sm-10">
                                            <textarea [disabled]="service.isTeacher? false: true" maxlength="1000" class="form-control" rows="3" [(ngModel)]="experience.teacherComments" name="teacherComments_{{i}}" #teacherComments="ngModel" [registerForm]="form" [registerModel]="teacherComments"
                                                required></textarea>
                                            <div *ngIf="form?.controls['teacherComments_'+i]?.errors?.required && form?.controls['teacherComments_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                        </div>
                                    </div>

                                    <div class="spacer10"></div>
                                    <div class="form-group">
                                        <div class="row pull-right marking-container">
                                            <div class="col-sm-4">
                                                <input [disabled]="service.isTeacher? false: true" type="checkbox" class="form-control" name="MyExperience" [(ngModel)]="experience.approved" (change)="service.onChangeMarkMySection('MyExperience', experience.approved)" />
                                            </div>
                                            <div class="col-sm-4">
                                                <ng-container *ngIf="experience.approved == true">
                                                    <div [ngClass]="'approved'" class="text">Approved</div>
                                                </ng-container>
                                                <ng-container *ngIf="experience.approved == false || experience.approved == null">
                                                    <div [ngClass]="'approve'" class="text">Approve</div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                    </div> <!-- End Outer box -->

                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyExperiences ? true : null">
                        <div class="pull-right ">
                            <button type="button " class="btn btn-primary btn-xs " (click)="addExperience(type) ">Add</button>
                        </div>
                    </fieldset>

                </div> <!-- End Panel body -->

            </div> <!-- End Panel -->

        </div> <!-- End form group -->

    </div>


    <!-- Student Save button -->
    <div *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false" class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6" *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false">
                <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveMyExperiences()">SAVE</button>
            </div>                           
        </div>
    </div>    
    <div class="spacer10"></div>
    <!-- END - Student Save button -->

    <!-- Teacher Save button -->
    <div *ngIf="service.isTeacher || service.isSupervisor || service.isParent" class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <button *ngIf="service.isParent || service.isTeacher || service.isSupervisor" type="button" class="btn btn-primary btn-lg" (click)="goToTeacherView()">Back</button>
            </div>
            <div class="col-sm-6" *ngIf="service.isTeacher && !(service.isSupervisor)">
                <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveTeacherReview()">SAVE</button>
            </div>                 
        </div>
    </div>    
    <div class="spacer20"></div>
    <!-- END - Teacher Save button -->

</div>