.chartHeading {
    padding-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.chartWithMarkerOverlay {
    position: relative;
}

.overlay-marker {
    position: absolute;
    opacity: 0.1;
    width: 75%;
    margin-left: 10%;
}
