<div class="line-chart-container">
    <ng-container *ngFor="let lineChart of service.lineCharts">
        <div class="chartWithMarkerOverlay">
            <!-- Watermark for each graph -->
            <div class="overlay-marker col-md-12" lazy-load-images>
                <img class="img-responsive center-block" 
                [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/'+ lineChart.name +( (service.apiEndPoint=='/MyPlanCollege/' || service.apiEndPoint=='/MyPlanNSW/' || service.apiEndPoint=='/MyPlanSA/') ?'College':'')+'.jpg'">
            </div>
            <div class="chartHeading"> {{lineChart.name}} </div>
            <google-chart [data]="lineChart.data" #googleChart></google-chart>
        </div>
    </ng-container>
</div>
<ng-container *ngIf="lineCharts && lineCharts.length < 1 " #noChartData>
    <div class="alert alert-warning ">Not enough data to display charts.</div>
</ng-container>