<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="shadow-center-cell col-sm-1">Skill Area</th>
                <th class="shadow-center-cell col-sm-1">Focus Area</th>
                <th class="shadow-center-cell col-sm-1" *ngFor="let level of service.skillAreas[0]?.skillFocusAreas[0]?.skillFocusLevels; let index=index">Level {{index+1}}</th>
                <th class="shadow-center-cell">Comments</th>
            </tr>
        </thead>
        <tbody *ngFor="let skillArea of service.skillGradesMapBySemester.get(semesterId*1) ; let skillAreaIndex=index">
            <tr *ngFor="let focusArea of skillArea.skillFocusAreas; let focusAreaIndex=index">
                <th class="shadow-center-cell" *ngIf="focusAreaIndex==0" [attr.rowspan]="skillArea.skillFocusAreas.length">{{skillArea.skillArea}}</th>
                <td class="focus-area"> {{focusArea.focusArea}} <br/> </td>
                <td *ngFor="let focusLevel of focusArea.skillFocusLevels; let focusLevelIndex= index" (click)="cellClicked(focusArea, focusLevel)" 
                    [class.previousTeacher]="focusLevel.isPreviousSemesterMarked" [class.activeTeacher]="focusLevel.isTeacherSelected" 
                    [class.activeStudent]="focusLevel.isStudentSelected" [class.activeBoth]="focusLevel.isTeacherSelected && focusLevel.isStudentSelected" >                       
                    <div class="teacher-marking">
                            {{focusLevel.skillLevel}}
                        <ng-container *ngIf="focusLevel.isStudentSelected">
                            <div class="student-marking">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x student-circle-color"></i>
                                    <i class="fa fa-check fa-stack-1x student-tick-color"></i>
                                </span>
                            </div>
                        </ng-container>
                    </div>

                </td>
                <td>
                    <textarea maxlength="1000" class="form-control" [(ngModel)]="focusArea.comments" rows="6" [readonly]="isCommentsReadonly()"></textarea>                   
                </td>
            </tr>
        </tbody>
    </table>
</div>