.active {
    background: rgba(108, 178, 226, 0.7) !important;
    color: white;
}

.previousTeacher {
    background: rgb(217, 217, 217);
    text-align: centre;
}

.activeTeacher {
    background: rgb(6, 162, 214) !important;
    color: white;
    overflow-x: auto;
}

.activeStudent {
    background: rgba(255, 255, 255, 0.7) !important;
    overflow-x: auto;
    color: black;
}

.activeBoth {
    background: rgb(6, 162, 214) !important;
    color: white;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid #000000 !important;
    height: 100%;
    position: relative;
}

td.focus-area {
    background-color: #f5f5f5;
    font-style: italic;
}

textarea {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    resize: none;
    -webkit-box-sizing: border-box;
    /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box;
    /* FF1+ */
    box-sizing: border-box;
    /* Chrome, IE8, Opera, Safari 5.1*/
}