<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Students</h3>
  </div>
  <div class="panel-body">
      <div class="row text-center" *ngFor="let student of service.students">
        <button class="btn btn-primary btn-lg" (click)="checkStudentProfile(student)">{{student.name}}</button>
        <div class="spacer10"></div>
      </div>      
  </div>
</div>