<div class="form-group">

    <div class="row">
        <div class="col-sm-4" lazy-load-images>
            <img [attr.data-src]="service.apiEndPoint+'dist/img/MyPortfolio/purpose.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
        </div>
        <div class="col-sm-4" lazy-load-images>
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MyPortfolio/howto.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
        </div>
        <div class="col-sm-4" lazy-load-images>
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MyPortfolio/tips.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
        </div>
    </div>    

    <!-- 
    <p>
        MyPortfolio provides you with an opportunity to document and store evidence of your experiences and achievements. You can also extract a copy of your MyPLAN. 
    </p>
    <p>
        The extract will include teacher-approved entries from MyBio, MyPlacement and MyExperiences. 
        It will also include documents that have been uploaded to MyPortfolio. This extract is an excellent resource to use when applying for jobs or attending interviews.
    </p>
   -->
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
    </div>
    <div class="panel-body">
        <div *ngFor="let document of service.documents">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style='width: 20px'></th>
                            <th>{{document.documentName}}</th>
                            <th style='width: 80px'><button type="text" class="btn btn-success btn-xs" (click)="display=true; documentType=document.documentType">Add</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let document of getDocumentsByType(document.documentType); let y=index;">
                            <td style='width: 20px'>{{y+1}}</td>
                            <!-- <td><a [href]="getSanitazeDocURL(document)" [download]="document.name">{{document.name}}</a></td> -->
                            <td>
                                <a (click)="getDocumentData(document)" [download]="document.name">{{document.name}}</a>
                            </td>

                            <td style='width: 80px'><button type="text" class="btn btn-danger btn-xs" (click)="deleteDocument(document)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--
        <p>1. Identify actions to ensure that any missing documents are being added to your career portfolio.</p>
        <p>2. Ensure that you continually upload any information listed above into your career portfolio.</p>
        <div class="form-group">
            <label>Actions required to complete MyPlan</label>
            <textarea maxlength="3000" class="form-control" rows="3" [(ngModel)]="service.profile.studentActions" name="studentActions" #studentActions="ngModel" [registerForm]="form" [registerModel]="studentActions" required></textarea>
            <div *ngIf="studentActions.errors?.required && studentActions.touched" class="alert alert-danger">This field is required</div>
        </div>
        -->
    </div>
</div>

<p-dialog header="Select files to Upload" [(visible)]="display" modal="modal" width="500" responsive="true">
    <!--Need to add the url parameters to pass security-->
    <!-- Add accept file type parameters comma seperated, without any spaces -->
    <p-fileUpload name="uploadedFiles" [url]="service.apiEndPoint+'api/upload?'+service.getUrlParameters().rawParams" (onBeforeUpload)="onBeforeUpload($event,documentType)" (onUpload)="onUpload()" multiple="multiple" maxFileSize="2000000" accept=".doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf">
    </p-fileUpload>
</p-dialog>