<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{goalTitle}}</h3>
        <p> {{ goalDescription }}</p>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>What is my preferred career?</th>
                    <th>How will I achieve this?</th>
                    <th>Teacher Feedback:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let careerGoal of service.profile?.studentCareerGoals; let i=index;">

                    <td>{{i+1}} </td>
                    <td>
                        <textarea [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" maxlength="250" class="form-control" rows="3" [(ngModel)]="careerGoal.career" name="career_{{i}}" #career="ngModel" [registerForm]="form" [registerModel]="career"
                            required> </textarea>
                        <div *ngIf="form?.controls['career_'+ i]?.errors?.required && form?.controls['career_'+ i]?.touched" class="alert alert-danger">This field is required</div>
                    </td>
                    <td>
                        <textarea [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" maxlength="1000" class="form-control" rows="3" [(ngModel)]="careerGoal.careerPath" name="careerPath_{{i}}" #careerPath="ngModel" [registerForm]="form" [registerModel]="careerPath"
                            required></textarea>
                        <div *ngIf="form?.controls['career_'+ i]?.errors?.required && form?.controls['career_'+ i]?.touched" class="alert alert-danger">This field is required</div>
                    </td>

                    <td>
                        <textarea [disabled]="service.isTeacher? false: true" maxlength="100" class="form-control" rows="3" [(ngModel)]="careerGoal.teacherFeedback" name="teacherFeedback_{{i}}" #teacherFeedback="ngModel" [registerForm]="form" [registerModel]="teacherFeedback"
                            required></textarea>
                        <div *ngIf="form?.controls['teacherFeedback_'+ i]?.errors?.required && form?.controls['teacherFeedback_'+ i]?.touched" class="alert alert-danger">This field is required</div>
                    </td>

                    <td>
                        <button [disabled]="service.profile.studentCompletionStatus.markMyCareerGoal == true" type="button" class="pull-right btn btn-danger" (click)="remove(careerGoal, [StudentCareerGoal] )"><i class="fa fa-times" style="color: white;"></i></button>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="pull-right"><button [disabled]="this.service.myStudentSectionEditable.isDisabledMyGoals ? true : null" type="button" class="btn btn-primary btn-xs" (click)="addCareerGoal()">Add</button></div>
    </div>
</div>