<div class="panel panel-primary panel-teachers-view">
    <div class="panel-heading">
        <h3 class="panel-title">Class Summary</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th colspan="3" class="headers centered">STUDENTS</th>
                    <th colspan="16" class="headers centered">MyCAREER</th>
                    <th colspan="40%" class="headers centered">MySKILLS </th>
                </tr>
                <tr>
                    <th colspan="3" class="right-border left-border"></th>
                    <th colspan="4" class="centered right-border">MyProfile</th>
                    <th colspan="4" class="centered right-border">MyGoals</th>
                    <th colspan="4" class="centered right-border">MyExperience</th>
                    <th colspan="4" class="centered right-border">MyPlacement</th>
                    <th colspan="2" class="centered right-border">Last Conversation</th>
                    <ng-container *ngFor="let semester of service.semesters; let i=index">
                        <th *ngIf="semester.semesterYear > 2018" class="centered right-border" colspan="2">
                            {{ semester.semesterYear }}  - Semester {{ semester.semesterValue }}
                        </th>
                    </ng-container>
                                        
                </tr>
                <tr>
                    <th colspan="3" class="right-border left-border"></th>
                    <th colspan="2" class="centered right-border">Student completed</th>
                    <th colspan="2" class="centered right-border">Teacher approved</th>
                    <th colspan="2" class="centered right-border">Student completed</th>
                    <th colspan="2" class="centered right-border">Teacher approved</th>
                    <th colspan="2" class="centered right-border">Student completed</th>
                    <th colspan="2" class="centered right-border">Teacher approved</th>
                    <th colspan="2" class="centered right-border">Student completed</th>
                    <th colspan="2" class="centered right-border">Teacher approved</th>
                    <th colspan="2" class="centered right-border">Date</th>
                    <ng-container *ngFor="let semester of service.semesters; let i=index">
                        <th *ngIf="semester.semesterYear > 2018" class="centered right-border" colspan="2">
                            MySkills /    Habits
                        </th>
                    </ng-container>
                    
                </tr>

            </thead>
            <tbody class="bottom-border">
                <tr *ngFor="let student of service.studentsObservable | async ">
                    <td colspan="3" class="right-border left-border"><a (click)="checkStudentProfile(student)">{{student.name}}</a></td>
                    <td colspan="2" class="centered right-border">{{student.profile?student.profile.studentCompletionSummary.myProfileStudentCompleted:'0%'}}</td>
                    <td colspan="2" class="centered right-border">{{student.profile?student.profile.studentCompletionSummary.myProfileTeacherApproved:'0%'}}</td>
                    <td colspan="2" class="centered right-border">{{student.profile?student.profile.studentCompletionSummary.myGoalStudentCompleted:'0%'}}</td>
                    <td colspan="2" class="centered right-border">{{student.profile?student.profile.studentCompletionSummary.myGoalTeacherApproved:'0%'}}</td>
                    <td colspan="2" class="centered right-border">{{student.profile?student.profile.studentCompletionSummary.myExperienceStudentCompleted:'0'}}</td>
                    <td colspan="2" class="centered right-border">{{student.profile?student.profile.studentCompletionSummary.myExperienceTeacherApproved:'0'}}</td>
                    <td colspan="2" class="centered right-border">{{student.profile?student.profile.studentCompletionSummary.myPlacementStudentCompleted:'0'}}</td>
                    <td colspan="2" class="centered right-border">{{student.profile?student.profile.studentCompletionSummary.myPlacementTeacherApproved:'0'}}</td>

                    <!-- 
                    <td colspan="2" class="centered right-border" *ngIf="!student.profile">
                        <div>-</div>
                    </td>
                    <td colspan="2" class="centered right-border" *ngIf="!student.profile">
                        <div>-</div>
                    </td>
                    <td colspan="2" class="centered right-border" *ngIf="!student.profile">
                        <div>-</div>
                    </td>
                    <td colspan="2" class="centered right-border" *ngIf="!student.profile">
                            <div>-</div>
                    </td>
                    -->

                    <!-- Last Conversation Date -->
                    <ng-container *ngIf="(student.profile && student.profile.lastConversationDate); else noConversationDate">
                        <td colspan="2" class="centered right-border">
                            <div>{{ student.profile.lastConversationDate | date: 'dd/MM/yyyy' }}</div>
                        </td>                 
                    </ng-container>                   
                    <ng-template #noConversationDate>
                        <td colspan="2" class="centered right-border">
                            <div>-</div>
                        </td>
                    </ng-template>

                    <!-- Skill summary by semester -->
                    <ng-container *ngFor="let skillSummary of student.profile?.studentCompletionSummary.mySkillSummaries; let i=index">
                        <td *ngIf="skillSummary.year > 2018" colspan="2" class="centered left-border right-border">
                            <i *ngIf="student.profile && skillSummary.teacherApproved > 0" class="fa fa-check" aria-hidden="true" [style.color]="skillSummary.teacherApproved == 100 ?'green':'orange' "></i>
                            <div *ngIf="(!student.profile) || (!skillSummary) || (!skillSummary.teacherApproved) || (skillSummary.teacherApproved==0)  ">-</div>                                             
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-lg" (click)="service.goBack()">Back</button>
                </div>
            </div>
        </div>

    </div>
</div>