// component styles are encapsulated and only applied to their components
.headers {
    background-color: RGB(0, 96, 156);
    border: 1.5px solid #000000 !important;
    color: #FFF;
}

.centered {
    text-align: center !important;
}

.right-border {
    border-right: 1.5px solid #000000 !important;
}

.left-border {
    border-left: 1.5px solid #000000 !important;
}

.bottom-border {
    border-bottom: 1.5px solid #000000 !important;
}

table {
  //table-layout: fixed;
}

table a:hover{
    cursor: pointer;
}

