<!-- This has to be a seperate component mapped to StudentJobReflection -->
<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="panel panel-primary panel-placement">
                <div class="panel-heading">
                    <h3 class="panel-title">{{title}}</h3>
                    <p>{{ description }}</p>
                </div>
                <div class="panel-body">
                        <p>
                            Your MyPLACEMENT reflections should be detailed. Entries should include your roles and responsibilities during placement and what you have learnt. 
                            Importantly, you must reference your goals and assess your skill development against SEDA Personal Habits and Transferable Work Skills.
                        </p>
                        <div class="spacer10"></div>

                    <div *ngFor="let studentJobReflection of service.profile?.studentJobReflections ; let i=index;">
                        <button [disabled]="this.service.myStudentSectionEditable.isDisabledMyPlacement ? true : null" type="button" class="pull-right btn btn-danger" style="margin:5px;" (click)="service.removeFromCollectionByElement(service.profile.studentJobReflections, studentJobReflection, [StudentJobReflection])">
                            <i class="fa fa-times" style="color: white;"></i>
                        </button>
                        <div style="outline: 1px solid #337ab7; padding: 35px; margin-top: 20px;">
                            <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyPlacement ? true : null">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Date of Reflection</label>
                                    <div class="col-sm-10">
                                        <p-calendar dateFormat="dd/mm/yy" [minDate]="studentJobReflection?.reflectionDate" [disabled]="studentJobReflection?.reflectionDate" [showIcon]="true" [yearNavigator]="true" yearRange="2017:2019" [(ngModel)]="studentJobReflection.reflectionDate" name="reflectionDate_{{i}}"
                                            #reflectionDate="ngModel" [registerForm]="form" [registerModel]="reflectionDate" required></p-calendar>
                                        <div *ngIf="form?.controls['reflectionDate_'+i]?.errors?.required && form?.controls['reflectionDate_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Student Comments</label>
                                    <div class="col-sm-10">
                                        <textarea maxlength="1000" class="form-control" rows="4" [(ngModel)]="studentJobReflection.comments" name="comments_{{i}}" #comments="ngModel" [registerForm]="form" [registerModel]="comments" required></textarea>
                                        <div *ngIf="form?.controls['comments_'+i]?.errors?.required && form?.controls['comments_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">SEDA transferable skills covered </label>
                                    <div class="col-sm-2">
                                        <select class="form-control" [(ngModel)]="studentJobReflection.transferrableSkill" name="transferrableSkill_{{i}}" #transferrableSkill="ngModel" required>
                                            <option [ngValue]="undefined" selected>Please select a value...</option> 
                                            <option [value]="skillItem.skillArea" *ngFor="let skillItem of service.skillAreas; let i=index; " >
                                                {{ skillItem.skillArea }}
                                            </option>
                                        </select>
                                        <div *ngIf="form?.controls['transferrableSkill_'+i]?.errors?.required && form?.controls['transferrableSkill_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>                                   
                                </div>
                            </fieldset>

                            <div class="spacer10"></div>
                            <div class="form-group">
                                <div class="row pull-right marking-container">
                                    <div class="col-sm-4">
                                        <input [disabled]="service.isTeacher? false: true" type="checkbox" name="approved_{{i}}" [(ngModel)]="studentJobReflection.approved" (change)="service.onChangeMarkMySection('MyReflection', studentJobReflection.approved)" />
                                    </div>
                                    <div class="col-sm-4">
                                        <ng-container *ngIf="studentJobReflection.approved == true">
                                            <div [ngClass]="'approved'" class="text">Approved</div>
                                        </ng-container>
                                        <ng-container *ngIf="studentJobReflection.approved == false || studentJobReflection.approved == null">
                                            <div [ngClass]="'approve'" class="text">Approve</div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyPlacement ? true : null">
                <div class="pull-right"><button type="button" class="btn btn-primary btn-xs" (click)="addStudentJobReflection()">Add</button></div>
            </fieldset>
        </div>
    </div>
</div>
<!-- End of StudentJobReflection -->