<div #content>
    <div class="form-group">
        <p>
            Click the 'export' button below to export contents from your MyPLAN into a pdf file. The exported extract will include details from MyBio, MyPlacement, MyExperiences and any documents you have uploaded to MyPortfolio. This extract is an excellent resource
            to use when applying for jobs or attending interviews.
        </p>
    </div>
    <div>
        <div class="btn btn-primary" (click)="this.downloadMySedaPortfolio()">
            <i class="fa fa-download" aria-hidden="true"></i> <b>Export</b>
        </div>
    </div>
</div>