    <div  class="row">
        <div  class="form-horizontal">
            <div class="form-group">
                <div class="panel panel-default panel-placement">
                     
                    <div class="panel-heading">

                        <h3 class="panel-title" > My Conversations </h3>
                       
                    </div>
                    <div class="panel-body">

                        <!-- Conversations list -->
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="shadow-center-cell" colspan="2">Date</th>
                                        <th class="shadow-center-cell" colspan="2">Topic</th>
                                        <th class="shadow-center-cell" colspan="4">Student Comment</th>
                                        <th class="shadow-center-cell" colspan="4">Teacher Comment</th>
                                        <th class="shadow-center-cell" colspan="1" style="width: 80px">Finalised</th>
                                        <th class="shadow-center-cell" colspan="1" style="width: 80px"></th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <ng-container *ngFor="let conversation of service.profile.studentConversations">
                                        <tr>
                                            <td colspan="2">{{ conversation?.conversationStartDate | date: 'dd/MM/yyyy' }} </td>
                                            <td colspan="2">{{ (conversation?.topic?.length > 30)? (conversation.topic | slice:0:30)+'..':(conversation.topic) }} </td>
                                            <td colspan="4">{{ (conversation?.studentComment?.length > 40) ? (conversation.studentComment.substring(0,40)+'..') : (conversation.studentComment) }} </td>
                                            <td colspan="4">{{ (conversation?.teacherComment?.length > 40) ? (conversation.teacherComment.substring(0,40)+'..') : (conversation.teacherComment) }}</td>
                                            <td colspan="1" class="text-center" style="width: 80px">
                                                <i *ngIf="conversation?.isFinal"  class="fa fa-lock fa-lg"   aria-hidden="true"></i> 
                                                <i *ngIf="!conversation?.isFinal" class="fa fa-unlock fa-lg" aria-hidden="true"></i>
                                            </td>                                            
                                            <td colspan="1" style="width: 80px"><button type="text" class="btn btn-primary btn-xs" (click)="loadConversation(conversation)"> Edit </button></td>
                                        </tr>
                                    </ng-container>
                                </tbody>                               
                            </table>
                             <!-- end - Conversations list -->
                        </div>

                        <!-- Conversation form -->
                        <form novalidate #form="ngForm" style="padding-top: 25px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div align="right" *ngIf="service.isTeacher || this.service.profile.id">
                                        <button type="button" class="btn btn-success btn-lg" (click)="service.resetConversation()">NEW</button>
                                    </div>
                                </div>
                            </div>

                            <fieldset [disabled]="!service.isTeacher && service.conversation.isFinal == true">
                                <div>
                                    <div style="outline: 1px solid #337ab7; padding: 35px; margin-top: 20px;">
                                        <div class="spacer10"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Conversation Start Date</label>               
                                            <div class="col-sm-10">
                                                {{ service.conversation.conversationStartDate | date: 'dd/MM/yyyy' }}                   
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Topic</label>
                                            <div class="col-sm-10">
                                                <input [readonly]="service.conversation.isFinal == true" type="text" class="form-control" [(ngModel)]="service.conversation.topic" name="topic" #studentComment="ngModel" [registerForm]="form" [registerModel]="topic" [required]="true" />
                                                <div *ngIf="form?.controls['topic']?.errors?.required && form?.controls['topic']?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Student Comments</label>
                                            <div class="col-sm-10">
                                                <textarea [readonly]="service.isTeacher" class="form-control" rows="3" [(ngModel)]="service.conversation.studentComment" name="studentComment" #studentComment="ngModel" [registerForm]="form" [registerModel]="studentComment" [required]="!service.isTeacher && this.service.profile"></textarea>
                                                <div *ngIf="form?.controls['studentComment']?.errors?.required && form?.controls['studentComment']?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Teacher Comments</label>
                                            <div class="col-sm-10">
                                                <textarea [readonly]="!service.isTeacher || service.conversation.isFinal == true" class="form-control" rows="3" [(ngModel)]="service.conversation.teacherComment" name="teacherComment" #supervisorComment="ngModel" [registerForm]="form" [registerModel]="teacherComment" [required]="service.isTeacher"></textarea>
                                                <div *ngIf="form?.controls['teacherComment']?.errors?.required && form?.controls['teacherComment']?.touched" class="alert alert-danger">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Finalise</label>
                                            <div class="col-sm-10">
                                                <input type="checkbox" [disabled]="!service.isTeacher || !(service.conversation.teacherComment && service.conversation.studentComment)" class="big-checkbox" [(ngModel)]="service.conversation.isFinal" name="isFinal" #isFinal="ngModel" [registerForm]="form" [registerModel]="isFinal">
                                            </div>
                                        </div>                                       

                                    </div>
                                </div>
                            </fieldset>

                            <div class="spacer20"></div>                            

                        </form>
                        <!-- End - Conversation form -->

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <button *ngIf="service.isParent || service.isTeacher || service.isSupervisor" type="button" class="btn btn-primary btn-lg" (click)="goToTeacherView()">Back</button>
                            </div>
                            <div class="col-sm-6" align="right" *ngIf="service.isTeacher || this.service.profile.id">
                                <button type="button" class="btn btn-success btn-lg" (click)="service.saveConversation()" *ngIf="!service.conversation.isFinal == true || service.isTeacher" [disabled]="!form.valid">SAVE</button>
                            </div>
                        </div>
                    </div>
                    <div class="spacer20"></div>
                
            </div>
        </div>
    </div>
