<div class="row">
    <div class="col-md-10"></div>
    <div *ngIf="service.isAdmin" class="col-md-2 pull-right">
        <a [routerLink]="[ '/admin/supervisor/add']"> <i class="fa fa-user-plus" aria-hidden="true"></i> Add Supervisors </a>
    </div>
</div>
<br>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Teacher List</h3>
    </div>
    <div class="panel-body table-responsive">
        <table class="table-striped table-condensed table-hover col-md-10" style="width:  100%">
            <thead>
                <tr>
                    <th class="headers centered">TEACHER NAME</th>
                    <th class="headers centered">CAMPUS</th>
                </tr>
            </thead>
            <tbody class="bottom-border">
                <tr *ngFor="let teacher of service.teachers">
                    <td class="right-border left-border">
                        <a [routerLink]="[ '/teacher'] " [queryParams]="{ teacherId: teacher.id } "> {{ teacher.firstName}} {{ teacher.surname}} </a>
                    </td>
                    <td class="centered right-border left border"> {{ teacher.classCampus }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>