<div class="panel-group" id="accordionRubrics_V2" role="tablist" aria-multiselectable="true">

    <!-- Start div rubricsDescription -->
    <div id="rubricsDescription">

        <div class="row">
            <div class="col-sm-4" lazy-load-images>
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/purpose.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
            <div class="col-sm-4" lazy-load-images>
                    <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/howto.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                        triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
            <div class="col-sm-4" lazy-load-images>
                    <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/tips.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                        triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
        </div>    
        
        <div class="spacer40"></div>

        <div class="row">
            <div class="col-sm-4" lazy-load-images>
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/Habits/habits_1.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
            <div class="col-sm-4" lazy-load-images>
                    <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/Habits/habits_2.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                        triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
            <div class="col-sm-4" lazy-load-images>
                    <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/Habits/habits_3.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                        triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
        </div>    

        <div class="spacer40"></div>

        <!--*********************************************************************************************-->

        <div class="row">
            <div class="col-sm-4" lazy-load-images>                
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/Skills/skills_1.jpg'"
                 class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate" triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
            <div class="col-sm-4" lazy-load-images>
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/Skills/skills'+( (service.apiEndPoint=='/MyPlanCollege/' || service.apiEndPoint=='/MyPlanNSW/' || service.apiEndPoint=='/MyPlanSA/') ?'College':'')+'_2.jpg'"
                     class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate" triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
            <div class="col-sm-4" lazy-load-images>
                <img [attr.data-src]="service.apiEndPoint+'dist/img/MySkills/Skills/skills'+( (service.apiEndPoint=='/MyPlanCollege/' || service.apiEndPoint=='/MyPlanNSW/' || service.apiEndPoint=='/MyPlanSA/') ?'College':'')+'_3.jpg'"
                    class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate" triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
            </div>
        </div>    
       
    </div>
    <!-- End div rubricsDescription -->

    <div class="flex-container">
        <div class="student-marking">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x student-circle-color"></i>
                <i class="fa fa-check fa-stack-1x student-tick-color"></i>
            </span> Student rating
        </div>
        <div class="teacher-marking">
            <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x" style="color: rgb(6, 162, 214)"></i>
                <i class="fa fa-check fa-stack-1x student-tick-color"></i>
            </span> Teacher rating
        </div>
    </div>
    
    
    <fieldset>
        <div *ngFor="let semester of service.semesters | AppVersionFilter: appVersion ; let i = index;">        
            
            <div *ngIf="semester.semesterValue == 1" >
                <div class="spacer30"></div>
                <h3 class="text-center">Year - {{ semester.semesterYear }} </h3>
            </div>
            

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="semester_v2_{{i}}">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionRubrics_V2" href="#semesterCollapse_v2_{{i}}"
                            aria-expanded="true" attr.aria-controls="semesterCollapse_v2_{{i}}">
                            {{ semester.semesterYear }}  - Semester {{ semester.semesterValue }}
                        </a>
                    </h4>
                </div>
                <div id="semesterCollapse_v2_{{i}}" [class]="semester.semesterId == service.currentSemesterId ? 'panel-collapse collapse in' : 'panel-collapse collapse' " role="tabpanel" attr.aria-labelledby="semester_v2_{{i}}">
                    <div class="panel-body">
                        <grade-review title="Semester {{semester.semesterValue}}" semesterId="{{semester.semesterId}}"></grade-review>
                    </div>
                </div>
            </div>     
            <div class="spacer10"></div>
        </div>            

    </fieldset>

    <!-- Student Save button -->
    <div *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false" class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6" *ngIf="service.isParent==false && service.isTeacher==false && service.isSupervisor == false">
                <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveStudentReviewV2()">SAVE</button>
            </div>           
        </div>
    </div>
    <!-- END - Student Save button -->

     <!-- Teacher Save button -->
     <div *ngIf="service.isTeacher || service.isSupervisor || service.isParent" class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <button *ngIf="service.isParent || service.isTeacher || service.isSupervisor" type="button" class="btn btn-primary btn-lg" (click)="goToTeacherView()">Back</button>
            </div>
            <div class="col-sm-6" *ngIf="service.isTeacher && !(service.isSupervisor)">
                <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveTeacherReviewV2()">SAVE</button>
            </div>                 
        </div>
    </div>    
    <div class="spacer20"></div>
    <!-- END - Teacher Save button -->

</div>