<div class="container" style="padding-top: 25px; width: 100%; ">
    <div>

        <div class="row">
            <div class="col-sm-12 nav-tab-holder">
                <ul class="nav nav-tabs row" role="tablist">
                    <li role="presentation" class="active col-sm-6"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">MyPROFILE</a></li>
                    <li role="presentation" class="col-sm-6"><a href="#myGoals" aria-controls="myGoals" role="tab" data-toggle="tab">MyGOALS</a></li>
                    <li role="presentation" class="col-sm-6"><a href="#myPlacement" aria-controls="myPlacement" role="tab" data-toggle="tab">MyPLACEMENT</a></li>
                    <li role="presentation" class="col-sm-6"><a href="#myExperiences" aria-controls="myExperiences" role="tab" data-toggle="tab">MyEXPERIENCES</a></li>
                    <li role="presentation" class="col-sm-6"><a href="#myPortfolio" aria-controls="myPortfolio" role="tab" data-toggle="tab">MyPORTFOLIO</a></li>
                    <li role="presentation" class="col-sm-6"><a href="#mySkills" aria-controls="mySkills" role="tab" data-toggle="tab">MySKILLS</a></li>
                </ul>
            </div>
        </div>

        <!-- Top level tabs -->
        <div class="tab-content">

            <!-- HOME/MyPROFILE tab -->
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                    <div class="col-sm-12">
                        <my-profile></my-profile>
                    </div>
                </div>
            </div>

            <!-- MyGOALS tab -->
            <div role="tabpanel" class="tab-pane" id="myGoals">
                <div class="spacer20"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    My Goals and Plans
                                </h4>
                            </div>
                            <div class="panel-body">
                                <my-goals [form]="f"></my-goals>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MyPLACEMENTS tab -->
            <div role="tabpanel" class="tab-pane" id="myPlacement">
                <div class="spacer20"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    My Placement
                                </h4>
                            </div>
                            <div class="panel-body">                               
                                <my-placement></my-placement>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- MyEXPERIENCES tab -->
            <div role="tabpanel" class="tab-pane" id="myExperiences">
                <div class="spacer20"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    My Experiences
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div>

                                    <div class="row">
                                        <div class="col-sm-4" lazy-load-images>
                                            <img [attr.data-src]="service.apiEndPoint+'dist/img/MyExperience/purpose.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                                                triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
                                        </div>
                                        <div class="col-sm-4" lazy-load-images>
                                                <img [attr.data-src]="service.apiEndPoint+'dist/img/MyExperience/howto.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                                                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
                                        </div>
                                        <div class="col-sm-4" lazy-load-images>
                                                <img [attr.data-src]="service.apiEndPoint+'dist/img/MyExperience/tips.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                                                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
                                        </div>
                                    </div>                       
                                </div>

                                <my-experience [form]="f" description="{{ descriptionMyExperiences }}" type="MyExperiences" title="My Industry Experiences"></my-experience>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MyPORTFOLIO tab -->
            <div role="tabpanel" class="tab-pane" id="myPortfolio">
                <div class="spacer10"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <fieldset [disabled]="false">
                                <div class="panel-body">
                                    <my-portfolio></my-portfolio>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MySKILLS tab -->
            <div role="tabpanel" class="tab-pane" id="mySkills">
                <div class="spacer10"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMySkills ? true : null">
                                <div class="panel-body">
                                    <my-skills></my-skills>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END - MySKILLS tab -->

        </div>

    </div>
</div>