<div th:fragment="footer">
    <hr>
     <table>
        <tr>
            <td style="width:17%; text-align:left">
                W: seda.edu.au
            </td>
            <td style="width:17%; text-align:left">
                T: 1300 117 332
            </td>
            <td style="width:17%; text-align:left">
                F: (03) 9818 7549   
            </td>
            <td style="width:17%; text-align:left">
                RTO Provider: 22503
            </td>
            <td style="width:32%; text-align:left">
            </td>
        </tr>       
    </table>
     <table>       
        <tr>
        	<td class="page-count">
            	Page <span id="pagenumber"></span> of <span id="pagecount"></span>
            </td>
            <td style="width:20%;"> </td>
            <td class="document-date">
                [[ ${#dates.format(documentDate, 'dd/MM/yyyy')} ]]
            </td>
            
            
        </tr>
    </table>
    
	
</div>