<div th:fragment="header">
	<div>
		<!-- DO NOT change the class name - it is used to insert image at runtime for portfolio pdf generation -->
		<div class="logo" style="margin-top: 0px; padding-top: 0px;">
            <img src="extract_header" alt="extract header" style="float: left;" />
        </div>        
	</div>    
</div>