<div th:fragment="letterhead">
    <table>
        <tr style="height: 50px">
            <td class="bottom left" style="width:40%; font-size: 20px;"><b>[[${firstname}]] [[${lastname}]]</b></td>
            <td style="width:20%"></td>
            <td class="bottom" style="width:40%; font-size: 10px;">
                <span th:if="${phone != null && phone != '' }">  
                	<b>Phone:</b> [[ ${phone}]]
                </span>
                <br>
                <span th:if="${email != null && email != '' }">
                	<b>E-Mail:</b> [[ ${email}]]
                </span>
                <br>
            </td>
        </tr>
    </table>
    <hr>
</div>