<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<title>MyPlan Student Extract </title>
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{myseda-portfolio.css}" />       
        
        <style>
        
			body {
			    font-family: sans-serif;
			    font-size: 12px;
			}
			
			@page {
			    @bottom-left {
			        content: element(footer);
			        vertical-align: top;
			        padding-top: 10px;
			    }
			    @top-right {
			        content: element(header);
			        vertical-align: bottom;
			        padding-bottom: 10px;
			    }
			    margin-top: 3.3cm;
			    margin-left: 2cm;
			    margin-right: 2cm;
			    margin-bottom: 3.3cm;
			    size: A4 portrait;
			}
			
			div.header {
			    position: running(header);
			}
			
			div.footer {
			    display: block;
			    margin-top: 0.5cm;
			    position: running(footer);
			}
			
			#pagenumber:before {
			    content: counter(page);
			}
			
			#pagecount:before {
			    content: counter(pages);
			}
			
			.logo-container {
			    text-align: left;
			}
			
			.page-count {
			    text-align: left;
			}
			
			.document-date {
			    text-align: right;
			}
			
			.logo {
			    width: 720px;
			    height:120px;
			    float: right;
			    position: absolute;
    			top: 0px;
    			right: 0px;
    			left: 0px;
			}
			
			h1 {
			    font-size: 18px;
			    margin-bottom: 40px;
			    margin-top: 40px;
			}
			
			p {
			    font-size: 12px;
			}
			
			.footer {
			    text-align: center;
			    font-size: 10px;
			}
			
			@font-face {
			    font-family: "Bar-Code 39";
			    src: url(Code39.ttf) format('truetype');
			}
			
			#customers {
			    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			    border-collapse: collapse;
			    width: 100%;
			}
			
			#customers td,
			#customers th {
			    border: 1px solid #ddd;
			    padding: 8px;
			}
			
			#customers tr:nth-child(even) {
			    background-color: #f2f2f2;
			}
			
			#customers tr:hover {
			    background-color: #ddd;
			}
			
			#customers th {
			    padding-top: 12px;
			    padding-bottom: 12px;
			    text-align: left;
			    background-color: #337ab7;
			    color: white;
			}
			
			.barcode {
			    font-family: "Bar-Code 39";
			    font-size: 26px;
			}
			
			.right {
			    text-align: right;
			}
			
			.left {
			    text-align: left;
			}
			
			.bottom {
			    vertical-align: bottom;
			}
			
			.address-block {
			    height: 100px;
			}
			
			table {
			    width: 100%;
			}
			
			hr {
			    background-color: #a5a4a4;
			    border: dashed #a5a4a4 0.5px;
			    height: 1px;
			}
			
			.page-break {
			    page-break-after: always;
			}
			
			.next-page {
			    page-break-before: always;
			}
			
			ul.a {
			    list-style-type: circle;
			}
			
			ul.b {
			    list-style-type: square;
			}
			
			ol.c {
			    list-style-type: upper-roman;
			}
			
			ol.d {
			    list-style-type: lower-alpha;
			}
			
			a {
			    color: hotpink;
			}
			
			.grad {
			    width: 150px;
			    height: 150px;
			    border: 2px solid black;
			    background: #7db9e8;
			}
			
			.address {
			    font-size: 10px;
			}

		        	
        </style>
    </head>

    <body>
    
    	<div>
    		<div class='header' th:include="/templates/myseda_portfolio/html/header::header"></div>

        	<div th:include="/templates/myseda_portfolio/html/letterhead::letterhead"></div>

        	<h1 style="text-align:center; font-size: 30px;">MyPLAN</h1>

        	<h3>My Bio</h3>        	
        	<p th:utext="${myBio}"></p>
        	<hr>
        	
        	<h3>My Placement</h3>
	        <p>
	        	Work placement forms an integral part of the SEDA program with one day a week for most of the year allocated to a work placement.
	        	Below is a list of placements undertaken whilst at SEDA:
	        </p>
			<ul class="a" th:each="studentJob: ${studentJobs}">
			  <li th:if="${studentJob.jobType == 'MyPlacements' &&  studentJob.approved == true }">
			  <strong> [[${studentJob.jobTitle}]] </strong> at <strong> [[${studentJob.employerName}]] </strong> <br>
			  [[ ${#dates.format(studentJob.startDate, 'dd/MM/yyyy')} ]] to [[ ${#dates.format(studentJob.endDate, 'dd/MM/yyyy')} ]]  
			  	<ul>
			  		<li>[[${studentJob.jobDuties}]]</li>
			  	</ul>
			  </li>
			</ul>
			<div class='footer' th:include="/templates/myseda_portfolio/html/footer::footer"></div>
        
    	</div>

        
        
        <div class="next-page">
	        <h3>My Experiences</h3>
	        <p>
	        	Listed below are my industry experiences undertaken whilst enrolled at SEDA.
	        </p>
			<ul class="a" th:each="studentJob: ${studentJobs}">
			  <li th:if="${studentJob.jobType == 'MyExperiences' &&  studentJob.approved == true }">
			  <strong> [[${studentJob.jobTitle}]] </strong> at <strong> [[${studentJob.employerName}]] </strong> <br>
			  [[ ${#dates.format(studentJob.startDate, 'dd/MM/yyyy')} ]]
			  	<ul>
			  		<li>[[${studentJob.jobDuties}]]</li>
			  	</ul>
			  </li>
			</ul>
			<div class='footer' th:include="/templates/myseda_portfolio/html/footer::footer"></div>
		</div>
       
       
        
       <!--  
       <div class="next-page">	   
       	  <h3>My Skills</h3>
	        <p>
	        	SEDA has identified five key work skills; problem solving, communication, team work,planning and organising, and self-awareness. 
	        	The graphs below demonstrate personal progression in these work-related skills whilst enrolled at SEDA.
	        </p>
	   	 
	   	<p> [[${graph}]] </p>       
	   	-->
	   	
       	<div class='footer' th:include="/templates/myseda_portfolio/html/footer::footer"></div>
     
    </body>
</html>