<div class="spacer20"></div>
<h3 class="text-center">{{service.studentName}}</h3>
<div class="spacer20"></div>
<h3 class="text-center">MyPLAN</h3>

<!-- 
<p>
    In order to maximize your outcomes, we draw on the core advantages offered by the SEDA Model.
</p>
<ul type="disc">
    <li>
        We place your individual skill development journey at the forefront. We call this MyPLAN
    </li>
    <li>
        We provide you with a curriculum influenced by industry
    </li>
    <li>
        We have a clear plan shaped by the sports industry for you and your class to execute
    </li>
    <li>
        You have unparalleled opportunity to develop skills within industry
    </li>
    <li>
        You complete Work Placement with real meaning and the time to develop skills
    </li>
</ul>
<p>
    A successful student journey is identified in the following ways:
</p>
<ul type="disc">
    <li>
        You graduate with improved transferable work skills and personal habits, not just qualifications!
    </li>
    <li>
        You identify and begin to shape a meaningful future pathway
    </li>
    <li>
        You have developed a professional portfolio of evidence to support your newly developed skills
    </li>
    <li>
        You have a new network of professional people to support you in your transition into work or further study
    </li>
</ul>
-->


<!-- 
<div class="spacer30"></div>
-->

<form novalidate #f="ngForm" style="padding-top: 25px">

    <div class="panel-group" role="tablist">

        <div class="panel panel-default">

            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    My Profile
                </h4>
            </div>

            <div class="panel-body">

                    <!-- 
                    <p>
                        In this section you are required to provide an overview of your family and the various people of influence in your life that can assist throughout your MyPLAN journey. 
                        You complete your BIO outlining personal traits, relationships, life experiences and a reflection against SEDA Personal Habits and Transferable Work Skills. 
                        Your BIO is to be completed after the first MyPLAN meeting and following Introductory MyPLAN Lessons during the orientation period. 
                        Your BIO is then repeated at the beginning of the following year/s and used as a reference point to determine your personal and professional growth.
                    </p>
                    <p>
                        You can submit your MyBIO via a written response (minimum 200 words)
                    </p>
                    -->

                    <div>
                        <div class="row">
                            <div class="col-sm-4" lazy-load-images>
                                <img [attr.data-src]="service.apiEndPoint+'dist/img/MyProfile/purpose.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                                    triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
                            </div>
                            <div class="col-sm-4" lazy-load-images>
                                    <img [attr.data-src]="service.apiEndPoint+'dist/img/MyProfile/howto.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                                        triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
                            </div>
                            <div class="col-sm-4" lazy-load-images>
                                    <img [attr.data-src]="service.apiEndPoint+'dist/img/MyProfile/tips.jpg'" class="img-responsive center-block" style="max-height: 500px;width:1500px;float: left" [popover]="smartTemplate"
                                        triggers="mouseenter:mouseleave" placement="top" containerClass="popover-baloon">
                            </div>
                        </div>                       
                    </div>
                    
                    <div class="spacer10"></div>

                <!-- MyName, MyFamily, MyNetworks section -->
                <div class="row outer-box">
                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyprofile? true : null">
                        <div class="form-group">
                            <label>My Name</label>
                            <input type="text" id="studentName" maxlength="1000" class="form-control" placeholder="Name" name="studentName" [(ngModel)]="service.profile.studentName" #studentName="ngModel" [registerForm]="form" [registerModel]="studentName" required>
                            <div *ngIf="studentName.errors?.required && studentName.touched" class="alert alert-danger">Name is required
                            </div>
                            <p class="help-block">* Include your full name</p>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">My Family</h3>* List your family members
                                </div>
                                <div class="panel-body">
                                    <div class="form-group" style="padding-top: 20px;">
                                        <div *ngFor="let member of service.profile?.familyMembers; let i=index;">
                                            <div class="form-group col-md-10">
                                                <label>Name {{i+1}}</label>
                                                <input type="text" maxlength="1000" class="form-control" placeholder="Name" name="memberName_{{i}}" [(ngModel)]="member.memberName" #memberName="ngModel" [registerForm]="form" [registerModel]="memberName" required>
                                                <div *ngIf="form?.controls['memberName_'+i]?.errors?.required && form?.controls['memberName_'+i]?.touched" class="alert alert-danger">Name is required</div>
                                            </div>
                                            <div class="form-group col-md-2" style="margin-top: 25px;">
                                                <button type="button" class="btn btn-danger" (click)="service.removeFromCollection(service.profile.familyMembers,i,[any])"><i
                            class="fa fa-times" style="color: white;"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right"><button type="button" class="btn btn-primary btn-xs" (click)="addMember()">Add
                    member</button></div>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top: 20px;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">My Networks</h3>* What people in your life can assist you in achieving your goals? It is important to identify them as they may assist you throughout your journey. E.g.Family, friends, parents friends, leaders at your
                                    sporting clubs, people you know through casual or part time employment, and the people in your SEDA network.
                                </div>
                                <div class="panel-body">
                                    <div class="form-group" style="padding-top: 20px;">
                                        <div *ngFor="let network of service.profile?.studentNetworks; let i=index;">
                                            <div class="form-group col-md-10">
                                                <label>Name {{i+1}}</label>
                                                <input type="text" maxlength="1000" class="form-control" placeholder="Network" name="networkName_{{i}}" [(ngModel)]="network.networkName" #networkName="ngModel" [registerForm]="form" [registerModel]="networkName" required>
                                                <div *ngIf="form?.controls['networkName_'+i]?.errors?.required && form?.controls['networkName_'+i]?.touched" class="alert alert-danger">Name is required</div>
                                            </div>
                                            <div class="form-group col-md-2" style="margin-top: 25px;">
                                                <button type="button" class="btn btn-danger" (click)="service.removeFromCollection(service.profile.studentNetworks,i,[any])"><i
                            class="fa fa-times" style="color: white;"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right"><button type="button" class="btn btn-primary btn-xs" (click)="addNetwork()">Add
                    network</button></div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row pull-right marking-container">
                        <div class="col-sm-4"> <input [disabled]="service.isTeacher? false: true" type="checkbox" name="Name" [(ngModel)]="service.profile.studentCompletionStatus.markMyName" (change)="service.onChangeMarkMySection('Name', service.profile.studentCompletionStatus.markMyName)"
                            />
                        </div>
                        <div class="col-sm-4">
                            <ng-container *ngIf="service.profile.studentCompletionStatus.markMyName == true">
                                <div [ngClass]="'approved'" class="text">Approved</div>
                            </ng-container>
                            <ng-container *ngIf="service.profile.studentCompletionStatus.markMyName == false">
                                <div [ngClass]="'approve'" class="text">Approve</div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <!-- End MyName, MyFamily, MyNetworks section -->

                <!-- MyBIO section -->
                <div class="row outer-box">
                    <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyprofile ? true : null">
                        <div class="form-group" style="padding-top: 20px;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">My BIO</h3> *Describe yourself in detail. When doing so use words that best describe you, talk about your strengths and weaknesses. Include activities you do at SEDA and outside that you enjoy such as playing sports
                                    or music etc. List the values that are most important to you and why and talk about those that have had a strong influence on you such as family or specific role models. <br>
                                    Importantly, ensure that you are reflecting against the SEDA Personal Habits and Transferable Work Skills.
                                </div>
                                <div class="panel-body">
                                    <div class="form-group" style="padding-top: 20px;">
                                        <p-editor name="mybio" [pEditorScrollFix]="model" [(ngModel)]="service.profile.mybio" #mybio="ngModel" [registerForm]="form" [registerModel]="mybio" [style]="{'height':'320px'}" required> </p-editor>
                                        <div *ngIf="mybio.errors?.required && mybio.touched" class="alert alert-danger">My bio is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    
                    <div class="row pull-right marking-container">
                        <div class="col-sm-4">
                            <input [disabled]="service.isTeacher? false: true" type="checkbox" name="MyBIO" [(ngModel)]="service.profile.studentCompletionStatus.markMyBio" (change)="service.onChangeMarkMySection('MyBIO', service.profile.studentCompletionStatus.markMyBio)" />
                        </div>
                        <div class="col-sm-4">
                            <ng-container *ngIf="service.profile.studentCompletionStatus.markMyBio == true">
                                <div [ngClass]="'approved'" class="text">Approved</div>
                            </ng-container>
                            <ng-container *ngIf="service.profile.studentCompletionStatus.markMyBio == false">
                                <div [ngClass]="'approve'" class="text">Approve</div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <!-- End MyBIO section -->

            </div>

            <!-- Student Save button -->
            <div *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false" class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6" *ngIf="service.isParent == false && service.isTeacher == false && service.isSupervisor == false">
                        <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveMyProfile()">SAVE</button>
                    </div>                       
                </div>
            </div>    
            <div class="spacer20"></div>
            <!-- END - Student Save button -->

             <!-- Teacher Save button -->
             <div *ngIf="service.isTeacher || service.isSupervisor || service.isParent" class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <button *ngIf="service.isParent || service.isTeacher || service.isSupervisor" type="button" class="btn btn-primary btn-lg" (click)="goToTeacherView()">Back</button>
                    </div>
                    <div class="col-sm-6" *ngIf="service.isTeacher && !(service.isSupervisor)">
                        <button type="button" class="pull-right btn btn-success btn-lg" (click)="service.saveTeacherReview()">SAVE</button>
                    </div>                 
                </div>
            </div>    
            <div class="spacer20"></div>
            <!-- END - Teacher Save button -->

        </div>

    </div>
</form>