<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="panel panel-primary panel-placement">
                <div class="panel-heading">
                    <h3 class="panel-title">{{title}}</h3>
                </div>
                <div class="panel-body">
                    <br>
                    <div [innerHTML]="description"></div>

                    <div *ngFor="let placement of service.profile?.studentJobs | experienceFilter:type; let i=index;">
                        <button [disabled]="this.service.myStudentSectionEditable.isDisabledMyPlacement ? true : null" type="button" class="pull-right btn btn-danger" style="margin:5px;" (click)="service.removeFromCollectionByElement(service.profile.studentJobs, placement, [StudentJob])">
                            <i class="fa fa-times" style="color: white;"></i>
                        </button>

                        <div style="outline: 1px solid #337ab7; padding: 35px; margin-top: 20px;">
                            <div class="spacer10"></div>
                            <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyPlacement ? true : null">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Organisation Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" maxlength="250" class="form-control" placeholder="Organisation Name" [(ngModel)]="placement.employerName" name="placementEmployerName_{{i}}" #employerName="ngModel" [registerForm]="form" [registerModel]="employerName" required>
                                        <div *ngIf="form?.controls['placementEmployerName_'+i]?.errors?.required && form?.controls['placementEmployerName_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Type of Organisation</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" [(ngModel)]="placement.organizationTypeId" name="organizationTypeId_{{i}}" #organizationTypeId="ngModel" required>
                                            <option [ngValue]="undefined" selected>Please select a value...</option>
                                            <option [value]="orgTypeItem.id" *ngFor="let orgTypeItem of service.organizationTypes">
                                                {{ orgTypeItem.organizationType }}
                                            </option>
                                        </select>
                                        <div *ngIf="form?.controls['organizationTypeId_'+i]?.errors?.required && form?.controls['organizationTypeId_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Position</label>
                                    <div class="col-sm-10">
                                        <input type="text" maxlength="250" class="form-control" placeholder="Position" [(ngModel)]="placement.jobTitle" name="placementJobTitle_{{i}}" #placementJobTitle="ngModel" [registerForm]="form" [registerModel]="placementJobTitle" required>
                                        <div *ngIf="form?.controls['placementJobTitle_'+i]?.errors?.required && form?.controls['placementJobTitle_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">What are my placement goals?</label>
                                    <div class="col-sm-10">
                                        <input type="text" maxlength="250" class="form-control" placeholder="placement goals" [(ngModel)]="placement.placementGoal" name="placementGoal_{{i}}" #placementGoal="ngModel" [registerForm]="form" [registerModel]="placementGoal" required>
                                        <div *ngIf="form?.controls['placementGoal_'+i]?.errors?.required && form?.controls['placementGoal_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Duties</label>
                                    <div class="col-sm-10">
                                        <textarea maxlength="1000" class="form-control" rows="3" [(ngModel)]="placement.jobDuties" name="placementjobDuties_{{i}}" #placementJobDuties="ngModel" [registerForm]="form" [registerModel]="placementJobDuties" required></textarea>
                                        <div *ngIf="form?.controls['placementJobDuties_'+i]?.errors?.required && form?.controls['placementJobDuties_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Commenced</label>
                                    <div class="col-sm-10">
                                        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [yearNavigator]="true" yearRange="2017:2019" [(ngModel)]="placement.startDate" name="placementStart_{{i}}" #placementStart="ngModel" [registerForm]="form" [registerModel]="placementStart" required></p-calendar>
                                        <div *ngIf="form?.controls['placementStart_'+i]?.errors?.required && form?.controls['placementStart_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Completed</label>
                                    <div class="col-sm-10">
                                        <p-calendar dateFormat="dd/mm/yy" [minDate]="placement?.startDate" [disabled]="!placement?.startDate" [showIcon]="true" [yearNavigator]="true" yearRange="2017:2019" [(ngModel)]="placement.endDate" name="placementEnd_{{i}}" #placementEnd="ngModel" [registerForm]="form"
                                            [registerModel]="placementEnd" required></p-calendar>
                                        <div *ngIf="form?.controls['placementEnd_'+i]?.errors?.required && form?.controls['placementEnd_'+i]?.touched" class="alert alert-danger">This field is required</div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="spacer10"></div>
                        <div class="form-group">
                            <div class="row pull-right marking-container">
                                <div class="col-sm-4">
                                    <input [disabled]="service.isTeacher? false: true" type="checkbox" name="MyPlacement" [(ngModel)]="placement.approved" (change)="service.onChangeMarkMySection('MyPlacement', placement.approved)" />
                                </div>
                                <div class="col-sm-4">
                                    <ng-container *ngIf="placement.approved == true">
                                        <div [ngClass]="'approved'" class="text">Approved</div>
                                    </ng-container>
                                    <ng-container *ngIf="placement.approved == false || placement.approved == null">
                                        <div [ngClass]="'approve'" class="text">Approve</div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <fieldset [disabled]="this.service.myStudentSectionEditable.isDisabledMyPlacement ? true : null">
                <div class="pull-right ">
                    <button type="button " class="btn btn-primary btn-xs " (click)="addPlacement(type) ">Add</button>
                </div>
            </fieldset>

        </div>
    </div>
</div>